---
import CostDiagnosis from "./CostDiagnosis";
import type { Persona } from "../../lib/experience/generateScheduleEmail";

interface Props {
    initialPersona?: Persona;
    className?: string;
}

const { initialPersona = "tax_accountant", className = "" } = Astro.props;
---

<div class={`not-prose my-12 ${className}`}>
    <CostDiagnosis client:load initialPersona={initialPersona} />
</div>
