---
import ScheduleEmailExperience from "./ScheduleEmailExperience";

interface Props {
    initialPersona?:
        | "tax_accountant"
        | "labor_consultant"
        | "administrative_scrivener"
        | "judicial_scrivener";
    className?: string;
}

const { initialPersona = "tax_accountant", className = "" } = Astro.props;
---

<div class={`not-prose my-12 ${className}`}>
    <!-- Experience Tool Container -->
    <ScheduleEmailExperience client:load initialPersona={initialPersona} />
</div>
